h2{
    color: green;
}
h5{
    color:green;
}
h6{
    color: green;
}
h1{
    color: honeydew;
}
h3{
    color: honeydew;
}
h4{
    color: honeydew;
}
body{
    background-color: rgb(34,56,106);
}
p{
    color: honeydew;
}
p6{
    color: red;
}
p5{
    color: honeydew;
    font-size:6;
}
